.dropdown
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}
#container
{
	overflow: auto;
}

#dialog-help > li {
    display: list-item;
}


.pull-right {
	float: right!important;
}

.crateit input[type="text"], .crateit input[type="password"], .crateit input[type="search"], .crateit input[type="number"], .crateit input[type="email"], .crateit input[type="url"], .crateit input[type="time"], .crateit textarea, .crateit select, .crateit button, .crateit input[type="button"], .crateit .button, .crateit #quota, .crateit .pager li a {
/*	width: 10em;*/
	margin: .3em;
	padding: .6em .5em .4em;
	font-size: 1em;
/*	color: #333;*/
	border: 1px solid #ddd;
	outline: none;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 36px;
	padding: 7px 10px;
	font-weight: normal;
}

.bar-actions {
	position: fixed;
	top: 45px;
	left: 80px;
	right: 0;
/*	height: 44px;*/
	background-color: #eee;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
	z-index: 999;
}

.bar-actions img.icon {
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 9px 25px 4px 10px;
	outline: none;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px;
	font-weight: normal;

float: left;
background: url(/owncloud/core/css/../img/breadcrumb.svg?2014-04-29T01:26:40Z) no-repeat right center;
height: 44px;
}

.bar-actions form { display: inline-block; float: left; }

.bar-actions button {
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline;
	height: 36px;
	padding: 7px 10px;
}

#content {
}
#files {
	position: absolute;
	margin-top: 45px;
	left: 0;
	right: 290px;
}

#files ul {
	margin: 0;
	padding: 0;
}

#files li.jqtree-selected > div:after {
	position: absolute;
	right: 40px;
	top: 42%;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f013";
}

#files li > div.jqtree-element {
	position: relative;
	height: 50px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	vertical-align: middle;
}

div.jqtree-element {
	background-color: #FFF;
  background-repeat: no-repeat;
}

#files ul.jqtree-tree li > div.jqtree-element span.jqtree-title {
margin-left: 70px;
position: absolute;
top: 16px;
left: auto;
padding: 0;
overflow: hidden;
text-overflow: ellipsis;
max-width: 800px;
	color: #000;
	font-weight: bold;
}

#files ul li ul li {
/*	padding-left: 12px;*/
}

#files li > div.jqtree-element .jqtree-toggler {
	display: block;
	position: absolute;
	left: auto;
	top: 40%;
	font-size: 12px;
	line-height: 12px;
	font-family: arial;
	border-bottom: none;
	color: #333;
}


#files .jqtree-element {
	background-color: #fff;
	height: 2.5em;
	position: relative;
	width: 100%;
	-webkit-transition: background-image 500ms;
	-moz-transition: background-image 500ms;
	-o-transition: background-image 500ms;
	transition: background-image 500ms;
	border-bottom: 1px solid #eee;
	font-style: normal;
	background-position: 8px center;
	background-repeat: no-repeat;
}

#files ul.jqtree-tree li.jqtree-folder .jqtree-title {
	margin-left: 40px;
}

#files ul.jqtree-tree li.jqtree-selected > .jqtree-element, #files ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
	background-color: rgb(240,240,240);
}

#files ul.jqtree-tree .jqtree-toggler {
display: block;
position: absolute;
left: 20px;
top: 30%;
font-size: 12px;
line-height: 12px;
font-family: arial;
border-bottom: none;
color: #333;
}

.container-metadata {
	position: fixed;
	padding: 20px;
	top: 90px;
	bottom: 0;
	right: 0;
	width: 250px;
	border-left: 1px solid #CCC;
	overflow-y: auto;
}

footer.attribution {
	position: absolute;
	left: 80px;
	right: 290px;
	bottom: 0;
	text-align: center;
}
